<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
  <test name="Personal Loan">
	  <parameter name="URL" value="Personalloan.com"/>
    <classes>
      <class name="Day">
		  <methods>
			  <include name="Demo2"/>
			  </methods>
		  
      </class>  
      <class name="Day2"/>
    </classes>
  </test> 
  <test name="Car Loan">
	  <parameter name="URL" value="Carloan.com"/>
	  <parameter name="APIKey/usrname" value="123456"/>
	  <classes>
		  
		  <class name="Day3">
		  <methods>
			  <exclude name="API.*"/>
		  </methods>
		  </class>
	  </classes>
	  
	  
  </test><!-- Test -->
</suite> <!-- Suite -->
